{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="login-page">
    <h2>Wprowadź hasło</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="password" name="password" placeholder="Hasło użytkownika">
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <div class="form-group form-group--buttons">
            <a href="{% url 'user_edit' %}" class="btn btn--without-border">Potwierdź</a>
{#            <button class="btn" type="submit">Zapisz</button> #}
        </div></div>
    </form>
</section>
    <br><br><br><br><br><br><br><br><br>
{% endblock %}

{% block additional_js %}

{% endblock %}
